<div class="row" >
    <div class="col-xs-12">
        <div class="float-center">
            <img [src]="recip.imagePath" [alt]="recip.name" class="img-fluid" width="300">
        </div>
        <hr>
        <h1>{{recip.name}}</h1>
        </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appToggle>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" appToggle>
                <li> <a style="cursor: pointer;" (click)="addToShoppingList()">To Shopping List</a> </li>
                <li> <a style="cursor: pointer;"  (click)="onClickEdit()">Edit Recipe</a>  </li>
                <li> <a  style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a> </li>
            </ul>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recip.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recip.ingredients">{{ingredient.name}}--{{ingredient.amount}}</li>
        </ul>
    </div>
</div>