<div class="row">
    <div class="col-md-5">
        <!-- <app-recipe-list (recipeSelecta)= "getRecipa($event)"></app-recipe-list> -->
        <app-recipe-list></app-recipe-list>
    </div>
    <!-- <h2>{{recipa.name}}</h2> -->
    <div class="col-md-7">

          <router-outlet></router-outlet>
          
            <!-- <app-recipe-detail 
                 *ngIf = "recipa != ''; else infoText"
                [recip] = "recipa"
            >
            </app-recipe-detail>
            <ng-template #infoText>
                <p>Please Selecta a Recipe</p>
            </ng-template> -->
            
    </div>
    
</div>