<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                            type="text" 
                            id="name" 
                            class="form-control" 
                            name="ingredientname" 
                            ngModel 
                            required
                            #ingredientname = "ngModel"
                            >
                    <span  *ngIf="ingredientname.invalid && ingredientname.touched"  class="alert-danger text-center">Please enter ingredient name.</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                      type="number" 
                      id="amount" 
                      class="form-control" 
                      ngModel
                      name="amount" 
                      required
                      pattern="^[1-9]+[0+9]*$"
                      #amount = "ngModel">
                    <span *ngIf="amount.invalid && amount.touched" class="alert-danger text-center">Please enter amount.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="f.invalid && f.touched" class="alert alert-warning">
                        invalid form
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        type="submit" 
                        class="btn btn-success mr-5" 
                        [disabled]="f.invalid">
                        {{ editMode?'Update':'Add' }}
                    </button>
                   
                    <button 
                        type="button"
                        *ngIf="editMode"
                        class="btn btn-danger mr-5"
                        (click)="onDeleteIngredient()">Delete</button>
                    <button 
                      type="button" 
                      (click)= "onResetForm()"
                      class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>