<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="ingredientname" name="ingredientname" >
                    <span  *ngIf="error"  class="alert-danger text-center">Please enter ingredient name and amount.</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" [(ngModel)]="amount" name="amount" >
                    <!-- <span *ngIf="error" class="alert-danger text-center">Please enter amount.</span> -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success mr-5" (click) = "addIngredient($event)">Add</button>
                    <button class="btn btn-danger mr-5">Delete</button>
                    <button type="reset" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>